# Overall
ENV="development"

ADMIN_EMAIL="admin-moca@moca-vision.com"
ADMIN_NAME="Admin Moca"
ADMIN_PASSWORD="12345678"

# Port & Address
LIVEKIT_NODE_IP="127.0.0.1"
LIVEKIT_PORT="7880"
LIVEKIT_TCP_PORT="7881"
LIVEKIT_UDP_PORT="7882"

FRONTEND_HOST="localhost"
FRONTEND_PORT="3000"

BACKEND_HOST="localhost"
BACKEND_PORT="4000"

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

REDIS_PORT="6379"

# LiveKit
LIVEKIT_ROOM_NAME="surveillance_room"
LIVEKIT_API_KEY="dev_key"
LIVEKIT_API_SECRET="OO6yJSLvDojRa2vd1n1t4xwO0bs9hkk6oLlXDT4IYIRJMP7i"

LIVEKIT_KEYS="${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}"
LIVEKIT_URL="ws://${LIVEKIT_NODE_IP}:${LIVEKIT_PORT}"
LIVEKIT_HTTP_URL="http://${LIVEKIT_NODE_IP}:${LIVEKIT_PORT}"

# Frontend
VITE_API_URL="http://${BACKEND_HOST}:${BACKEND_PORT}"

# Backend
FILE_STORAGE_PATH="../file-storage"

POSTGRES_USER="mocamin"
POSTGRES_PASSWORD="EyHOPoiLmNik"
POSTGRES_NAME="mocavis-db"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}?schema=public"

JWT_ACCESS_SECRET="Cy9kWxFhLMHw88MO7ZB1gwrFW7VzHmBl"
JWT_REFRESH_SECRET="hncq5ENwyaVD2pWBvYEszlnwxAkPOnsW"
JWT_MAIL_SECRET="dbFH08sj5vTIeuSwC7AQCoKBhyEIRuZd"

BASE_URL="http://${BACKEND_HOST}:${BACKEND_PORT}"
FE_URL="http://${FRONTEND_HOST}:${FRONTEND_PORT}"