ultralytics==8.3.50
openmim==0.3.9
mmengine==0.10.6
mmcv==2.1.0
torch
torchvision
torchaudio
tensorflow
tensorflow-hub
opencv-python
matplotlib
scikit-learn
pandas
numpy
scipy
tqdm
mmdet
mmpose
ipykernel
jupyter
flask