# Ignore these specific directories inside edge-code
edge-code/__pycache__/
edge-code/_old_code/
edge-code/_old_model/
edge-code/_video_sample/

# Python and virtual environment ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Git ignores
.git/
.gitignore

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
