DEVICE_ID="019e0d16-6faf-798b-94e2-48a3090347af"
BACKEND_URL="http://localhost:4000"

LIVEKIT_URL="ws://localhost:7880"
LIVEKIT_DEVICE_SECRET="supersecretvalue"

YOLO_FILE="yolov8n-pose_full_integer_quant_edgetpu.tflite"
GNN_BACKBONE_FILE="GNN_TCN_backbone_best_int8_edgetpu.tflite"
GNN_HEAD_FILE="GNN_TCN_head_best_int8.tflite"

# In case of different tpu lib, change this value
# EDGETPU_SHARED_LIB="libedgetpu.so.1"